<div class="container">
  <h2>{{username}}'s Dashboard</h2>
  {{#unless posts}}
  <div style="text-align: center;">
    <h5>No posts created</h5>
  </div>
  {{/unless}} 
  <div style="text-align: center;">
    <a id="create-post-link" href="#new-post-form">Create a new post</a>
  </div>
  {{#each posts}}
  <div class="container">
  <a href="/user-post/{{id}}">
    <article class="card">
      <div>
        <h3>{{title}}</h3>
        <p>{{content}}</p>
      </div>
      <footer style="background-color: rgba(112, 159, 182, 0.564);">
        <p style="text-align: right;">Posted on {{format_date createdAt}}</p>
      </footer>
    </article>
 </a>
</div>
{{/each}}
  <div id="new-post-form" style="display: none;" class="container">
    <form id="new-post">
      <label style="font-weight: bold;" for="new-post">
        Create a New Post
        <label>Title</label>
        <input type="text" id="title" name="title" placeholder="Title" required>
        <label>Content</label>
        <textarea type="text" id="content" name="content" placeholder="Content..." required></textarea>
      </label>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>

<script src ="../js/createPost.js"></script>