<div class="container">
  {{#unless post}}
  <div style="text-align: center;">
    <h5>No posts created</h5>
  </div>
  {{/unless}}
  {{#each post}}
  <div class="container">
  <a href="/post/{{id}}">
    <article class="card">
    <h3>{{title}}</h3>
    <p>{{content}}</p>
     {{#each post.comments}}
    <footer style="background-color: rgba(112, 159, 182, 0.564);">
    <p>Comment by {{username}}: {{content}}</p>
    </footer>
  {{/each}}
  </article>
 </a>
</div>
  {{/each}}
  <div class="container">
    <form id="new-post">
      <label for="new-post">
        Create a New Post
        <input type="text" id="new-post" name="new-post" placeholder="New post..." required>
      </label>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
