<div class="container">
  <article>
    <div style="padding: 12px;">
      <h2>{{post.title}}</h2>
      <p style="color: var(--primary)">{{post.content}}</p>
      <p style="color: gray;">Posted by {{post.user.username}} on {{format_date post.createdAt}}</p>
    </div>
  
    <div class="grid" style="padding: 12px;">
      <div>
        <h4 style="color: gray;">Comments</h4>
      </div>
      <div>
        <p style="text-align: right;"><a href="#new-comment">Add a Comment</a></p>
      </div>
    </div>
        {{#each comments}}
      <p style="color: gray;">Comment by {{user.username}}: {{content}}</p>
        {{/each}}
   <div class="container">
    <form style="padding: 20px;" id="new-comment">
      <label for="new-comment">
        <input type="text" id="comment" name="comment" placeholder="Add a comment" required>
        <input style="display: none;" type="text" id="postId" name="postId" value="{{post.id}}">
      </label>
      <button type="submit">Submit</button>
    </form>
  </div>
  <div class="grid">
      <button id="delete-btn" value="{{post.id}}">Delete Post</button>
      <button id="edit-btn" value="{{post.id}}">Edit Post</button>
  </div>
  <div id="edit-post-form" style="display: none;">
    <form id="edit-post">
      <label style="font-weight: bold;" for="edit-post">
        Edit Post
        <label>Title</label>
        <input type="text" id="update-title" name="title" value="{{post.title}}" required>
        <label>Content</label>
        <textarea type="text" id="update-content" name="content" required>{{post.content}}</textarea>
      </label>
      <button type="submit">Submit</button>
    </form>
  </div>
  </article>
</div>

<script src="../js/createComment.js"></script>
<script src="../js/createPost.js"></script>