<div class="container">
  <article>
    <div style="padding: 12px;">
      <h2 style="color: var(--primary)">{{post.title}}</h2>
      <p style="color: var(--primary)">{{post.content}}</p>
      {{!-- <p>{{format_date post.createdAt}}</p> --}}
    </div>
  
    <div class="grid" style="padding: 12px;">
      <div>
        <h4 style="color: gray;">Comments</h4>
      </div>
      <div>
        <p style="text-align: right;"><a href="#new-comment">Add a Comment</a></p>
      </div>
    </div>
        {{#each comments}}
      <p style="color: gray;">Comment by {{user.username}}: {{content}}</p>
        {{/each}}
   <div class="container">
    <form id="new-comment">
      <label for="new-comment">
        <input type="text" id="comment" name="comment" placeholder="Add a comment" required>
        <input style="display: none;" type="text" id="postId" name="postId" value="{{post.id}}">
      </label>
      <button type="submit">Submit</button>
    </form>
  </div>
  <div class="grid">
      <button id="delete-btn" value="{{post.id}}">Delete Post</button>
      <button id="edit-btn" value="{{post.id}}">Edit Post</button>
    </div>
  </article>
</div>

<script src="../js/createComment.js"></script>
<script src="../js/createPost.js"></script>